/* Import Bootstrap */
@import url("app/_assets/css/bootstrap.css");
/* Import Home Styles */
@import url("app/home/home.css");
/* Import User Styles */
@import url("app/users/login/login.css");
@import url("app/users/register/register.css");
@import url("app/users/user_confirmation/user_confirmation.css");
@import url("app/users/dashboard/dashboard.css");
@import url("app/users/user/user.css");
@import url("app/users/user_edit/user_edit.css");
@import url("app/users/user_search/user_search.css");
/* Import Course Styles */
@import url("app/courses/course/course.css");
@import url("app/courses/course_create/course_create.css");
@import url("app/courses/course_search/course_search.css");
/* Import Message Styles */
@import url("app/messages/messages/messages.css");
@import url("app/messages/single_chat/single_chat.css");
/* Calendar */
@import url("node_modules/fullcalendar/dist/fullcalendar.css");
/* Slider */
@import url("node_modules/nouislider/distribute/nouislider.min.css");

@font-face {
    font-family: 'GlacialIndifferenceRegular';
    src: url("app/_assets/fonts/glacialIndifference-regular.otf") format("opentype");
    font-style: normal;
}

@font-face {
    font-family: 'GlacialIndifferenceRegular';
    src: url("app/_assets/fonts/glacialIndifference-italic.otf") format("opentype");
    font-style: italic;
}

@font-face {
    font-family: 'GlacialIndifferenceRegular';
    src: url("app/_assets/fonts/glacialIndifference-bold.otf") format("opentype");
    font-weight: bold;
}

/* Scrollbar */
body::-webkit-scrollbar-track,
div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
}

body::-webkit-scrollbar,
div::-webkit-scrollbar {
    width: 7px;
    background-color: #fff;
}

body::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #AAA;
}

*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

/* General */
html, body {
    display: block;
    width: 100vw;
    min-height: 100vh;
    font-family: 'GlacialIndifferenceRegular', serif;
    font-weight: normal;
    font-style: normal;
    overflow-x: hidden;
    margin: 0;
    background: url('app/_assets/images/sky-bg.jpg') no-repeat center center;
    background-size: cover;
    box-sizing: border-box;
}

h1, h2, h3, h4, p, a, label, legend, span, div {
    font-family: 'GlacialIndifferenceRegular', serif;
    font-weight: normal;
    font-style: normal;
    color: #FFF;
    float: none;
}

h1 {
    font-size: 30px;
    margin: 5px 0;
}

h2 {
    font-size: 25px;
    margin: 5px 0;
}

h3 {
    font-size: 22px;
    margin: 5px 0;
}

h4 {
    font-size: 20px;
    margin: 5px 0;
}

label, legend {
    font-size: 16px;
    margin: 5px 0;
    padding: 10px 0 0 !important;
}

p, a, span {
    font-size: 16px;
    text-decoration: none;
    margin: 0;
}

span, small {
    line-height: 30px;
}

a:hover {
    color: #FFF;
    text-decoration: none;
}

ul {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
	margin-block-start: 1em;
	margin-block-end: 1em;
	padding-inline-start: 0px;
}

li {
    list-style: none;
}

div {
    display: block;
    box-sizing: border-box;
    overflow: visible;
    font-size: 18px;
}

input, select {
    width: 100%;
    height: 40px;
    padding: 5px;
    margin: 5px 0;
    font-family: 'GlacialIndifferenceRegular', serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    color: #0C1724;
    background: transparent;
    border-left: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}

textarea {
    width: 320px;
    height: 100px;
    padding: 5px;
    margin: 2px;
    font-family: 'GlacialIndifferenceRegular', serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    color: #0C1724;
    border: 1px solid #CCC;
}

button {
    display: table;
    width: auto;
    height: 35px;
    padding: 5px;
    margin: 5px;
    font-family: 'GlacialIndifferenceRegular', serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    background: #0094FF;
    cursor: pointer;
    border: 1px solid #CCC;
}

.btn-primary {
    margin: 5px 0;
    transition: background 0.25s ease-in;
    -webkit-transition: background 0.25s ease-in;
}

.btn-primary:hover {
    background: #6CBAD0;
    transition: background 0.25s ease-in;
    -webkit-transition: background 0.25s ease-in;
}

.btn-logout {
    position: relative;
    float: right;
    bottom: 0;
    border: none;
    background: transparent;
    margin: 0 auto;
    padding: 0 10px;
    height: 30px;
}

.btn-panel {
    float: right;
    border: none;
    background: transparent;
}

button:disabled {
    color: #fff;
    background: rgba(0, 148, 255, 0.5);
}

button.close {
    display: table;
    border: none;
    background: transparent;
    color: #777;
    outline: 0 none;
}

button.close:hover {
    color: #333;
}

.custom-radio {
    display: table;
    width: 100%;
    height: auto;
    padding: 0 !important;
}

.custom-radio input {
    width: 20px;
    height: 20px;
    margin: 5px;
    float: left;
}

/* App-Component */
.switch-language {
    position: fixed;
    display: table;
    top: 5px;
    right: 5px;
    z-index: 10;
}

.switch-language select {
    color: #FFF;
}

.switch-language select option {
    color: #222;
}

header {
    position: fixed !important;
    display: table;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #203858;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    z-index: 8;
}

.app-logo {
    display: table;
    width: 100%;
    max-width: 170px;
    text-align: left;
    margin: 10px 0;
    float: left;
    box-sizing: border-box;
}

.app-avatar {
    display: table;
    width: 100%;
    max-width: 100px;
    text-align: right;
    margin: 10px 80px 0;
    float: right;
    box-sizing: border-box;
}

.news-panel {
    display: table;
    position: relative;
    text-align: center;
    width: 100%;

}

.news-panel ul li {
    display: inline-block;
    position: relative;
}

.news-panel .news {
    display: table;
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 0;
}

.news-panel .news i {
    vertical-align: middle;
}

.news-panel .notification {
    position: absolute;
    bottom: -5px;
    right: 0;
    left: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 14px;
    color: #1B2032;
    background: #6DBCD3;
    border: 1px solid #FFF;
    border-radius: 50%;
    line-height: 20px;
}

.sidebar {
    position: fixed;
    display: block;
    top: 104px;
    left: 0;
    bottom: 0;
    padding: 30px;
    background: #203858;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    z-index: 8;
}

.sidebar ul li {
    width: 100%;
    padding: 10px 0;
}

.sidebar ul li a.active span {
    color: #6FBDD4;
    text-decoration: none;
}

.sidebar ul li a {
    color: #FFF;
    padding: 5px 0;
}

.sidebar ul li i {
    color: #FFF;
    padding: 0 15px 0 0;
    font-size: 18px;
    width: 30px;
}

.sidebar ul li .fa-angle-down {
    float: right;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: transform 0.5s;
}

.sidebar ul li .fa-angle-down.active {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: transform 0.5s;
}

.sidebar .sub-menu {
    display: none;
}

.sidebar .sub-menu {
    padding: 0 15px;
}

.sidebar .sub-menu a {
    color: #AAA;
    padding: 0 10px;
}

.sidebar .sub-menu i {
    color: #AAA;
    padding: 0 15px 0 0;
}

.content {
    position: absolute;
    display: block;
    right: 0;
    width: calc(100vw - 16.6%);
    height: 100%;
    float: right;
    box-sizing: border-box;
    padding: 104px 0 0;
}

.content.log {
    width: 100%;
    padding: 0;
}

.main-container {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow-y: auto;
    box-sizing: border-box;
}

.main-container.log {
    padding: 0;
}

.page-headline {
    font-size: 28px;
}

.loading {
    background-image: url('app/_assets/images/loading.gif');
    height: 50px;
    margin: 0 auto;
    width: 50px;
}