<!-- main app container -->
<header *ngIf="isLoggedIn()">
	<a [routerLink]="['/']"><img class="naboo-logo" src="app/_assets/images/logo2.png" /></a>
	<div>
		<div (click)="showPanel()">
			<img *ngIf="currentUser" class="naboo-headbar-user-avatar" [src]="currentUser.avatar ? '/uploads/' + currentUser.avatar : '/app/_assets/images/default-avatar.png'" />
		</div>
		<div id="naboo-user-panel" class="naboo-user-panel">
			<p><a [routerLink]="['/user', currentUser._id]">Profile</a></p>
			<p><button (click)="logout()">Logout</button></p>
		</div>
	</div>
</header>
<div *ngIf="isLoggedIn()" class="col-sm-2 naboo-sidebar">
	<ul>
		<li><i class="fa fa-home"></i><a [routerLink]="['/']"><span>Home</span></a></li>
		<li><i class="fa fa-tachometer"></i><a [routerLink]="['/dashboard']"><span>Dashboard</span></a></li>
		<li (click)="showSub('.user-menu', '.one')"><i class="fa fa-users"></i><span>Users</span><i class="fa fa-angle-down one"></i></li>
			<ul class="user-menu">
				<li><i class="fa fa-search"></i><a [routerLink]="['/user/search']">Search</a></li>
			</ul>
		<li (click)="showSub('.course-menu', '.two')"><i class="fa fa-circle-thin"></i><span>Courses</span><i class="fa fa-angle-down two"></i></li>
			<ul class="course-menu">
				<li><i class="fa fa-search"></i><a [routerLink]="['/course/search']">Search</a></li>
				<li><i class="fa fa-pencil"></i><a [routerLink]="['/course/create']">Create</a></li>
			</ul>
		<li><i class="fa fa-envelope-o"></i><a [routerLink]="['/messages']"><span>Messages</span></a></li>
	</ul>
</div>
<div class="naboo-content">
    <div class="naboo-container col-sm-12">
		<alert></alert>
		<router-outlet></router-outlet>
    </div>
</div>