<div class="switch-language">
    <select class="lang-switcher" (change)="selectLang($event.target.value)">
        <option *ngFor="let lang of supportedLanguages" [selected]="lang.value == currentLanguage"
                value="{{lang.value}}">
            {{lang.display}}
        </option>
    </select>
    <div *ngIf="isLoggedIn()" class="news-panel">
        <ul>
            <li>
                <a class="news user-news" [routerLink]="['/dashboard']">
                    <small *ngIf="currentUser.friendRequests && currentUser.friendRequests.length > 0"
                           class="notification">{{currentUser.friendRequests ? currentUser.friendRequests.length : 0}}
                    </small>
                    <i class="fa fa-users"></i>
                </a>
            </li>
            <li>
                <a class="news message-news" [routerLink]="['/messages']">
                    <i class="fa fa-envelope-o"></i>
                </a>
            </li>
            <li>
                <button class="news btn-logout" (click)="logout()"><i class="fa fa-sign-out"></i></button>
            </li>
        </ul>
    </div>
    <div *ngIf="!isLoggedIn() && !isPage('login') && !isPage('register')" class="login-panel">
        <ul>
            <li>
                <a [routerLink]="['/login']">Login</a>
            </li>
            /
            <li>
                <a [routerLink]="['/register']">Register</a>
            </li>
        </ul>
    </div>
</div>
<header *ngIf="!isPage('login') && !isPage('register')" class="col-sm-12">
    <div class="app-logo">
        <a [routerLink]="['/']"><img class="col-sm-12" [src]="'app/_assets/images/logo2.png'"/></a>
    </div>
    <div *ngIf="isLoggedIn()" class="app-avatar">
        <div>
            <a [routerLink]="['/user', currentUser._id]">
                <img *ngIf="currentUser" class="col-sm-12"
                     [src]="currentUser.avatar ? '/uploads/' + currentUser.avatar : '/app/_assets/images/default-avatar.png'"/>
            </a>
        </div>
    </div>
</header>
<div *ngIf="!isPage('login') && !isPage('register')" class="col-sm-2 sidebar">
    <ul>
        <li>
            <i class="fa fa-home"></i>
            <a (click)="setActive($event)" [routerLink]="['/']" class="active">
                <span>{{'Home' | translate}}</span>
            </a>
        </li>
        <li *ngIf="isLoggedIn()">
            <i class="fa fa-tachometer"></i>
            <a (click)="setActive($event)" [routerLink]="['/dashboard']">
                <span>{{'Dashboard' | translate}}</span>
            </a>
        </li>
        <li (click)="showSub('.user-menu', '.one')">
            <i class="fa fa-users"></i>
            <span>{{'Nutzer' | translate}}</span>
            <i class="fa fa-angle-down one"></i>
        </li>
        <ul class="sub-menu user-menu">
            <li>
                <i class="fa fa-search"></i>
                <a (click)="setActive($event)" [routerLink]="['/user/search']">{{'Suche' | translate}}</a>
            </li>
        </ul>
        <li (click)="showSub('.course-menu', '.two')">
            <i class="fa fa-circle-thin"></i>
            <span>{{'Kurse' | translate}}</span>
            <i class="fa fa-angle-down two"></i>
        </li>
        <ul class="sub-menu course-menu">
            <li>
                <i class="fa fa-search"></i>
                <a (click)="setActive($event)" [routerLink]="['/course/search']">{{'Suche' | translate}}</a>
            </li>
            <li *ngIf="isLoggedIn()">
                <i class="fa fa-pencil"></i>
                <a (click)="setActive($event)" [routerLink]="['/course/create']">{{'Erstellen' | translate}}</a>
            </li>
        </ul>
        <li *ngIf="isLoggedIn()">
            <i class="fa fa-envelope-o"></i>
            <a (click)="setActive($event)" [routerLink]="['/messages']"><span>{{'Nachrichten' | translate}}</span></a>
        </li>
    </ul>
</div>
<div class="content">
    <div class="main-container">
        <alert></alert>
        <router-outlet></router-outlet>
    </div>
</div>