<div class="dashboard-headline main">
    <div class="col-sm-9" style="font-size: 24px;">Dashboard</div>
</div>

<div class="col-sm-12">
    <div class="col-sm-6">
        <div class="dashboard-headline">Friendrequests</div>
        <div class="col-sm-12 dashboard-info">
            <ul *ngIf="userRequests && userRequests.length > 0">
                <li *ngFor="let request of userRequests" class="col-sm-12">
                    <div class="col-sm-4">
                        <img class="user-avatar"
                             [src]="request.avatar ? '/uploads/' + request.avatar : '/app/_assets/images/default-avatar.png'"/>
                    </div>
                    <div class="col-sm-4">
                        {{request.name}}
                    </div>
                    <div class="col-sm-4">
                        <button (click)="acceptFriendRequest(request)">Accept</button>
                        <button (click)="refuseFriendRequest(request)">Refuse</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="dashboard-headline">Last viewed Users</div>
        <div class="col-sm-12 dashboard-info">
            <ul *ngIf="viewedUsers && viewedUsers.length > 0">
                <li *ngFor="let user of viewedUsers.slice(0, 3)">
                    <a [routerLink]="['/user', user._id]">
                        <img class="course-image"
                             [src]="user.avatar ? '/uploads/' + user.avatar : '/app/_assets/images/default-avatar.png'"/>
                        {{user.name}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="col-sm-12">
    <div class="col-sm-4">
        <div class="dashboard-headline">My Courses</div>
        <div class="col-sm-12 dashboard-info">
            <ul *ngIf="userCourses && userCourses.length > 0">
                <li *ngFor="let course of userCourses;">
                    <a [routerLink]="['/course', course._id]">
                        <img class="course-image"
                             [src]="course.titleImage ? '/uploads/' + course.titleImage : '/app/_assets/images/default-titleImage.png'"/>
                        {{course.name}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="dashboard-headline">Booked Courses</div>
        <div class="col-sm-12 dashboard-info">
            <ul *ngIf="bookedCourses && bookedCourses.length > 0">
                <li *ngFor="let course of bookedCourses;">
                    <a [routerLink]="['/course', course._id]">
                        <img class="course-image"
                             [src]="course.titleImage ? '/uploads/' + course.titleImage : '/app/_assets/images/default-titleImage.png'"/>
                        {{course.name}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="dashboard-headline">Last Viewed Courses</div>
        <div class="col-sm-12 dashboard-info">
            <ul *ngIf="viewedCourses && viewedCourses.length > 0">
                <li *ngFor="let course of viewedCourses.slice(0, 3);  let i=index">
                    <a [routerLink]="['/course', course._id]">
                        <img class="course-image"
                             [src]="course.titleImage ? '/uploads/' + course.titleImage : '/app/_assets/images/default-titleImage.png'"/>
                        {{course.name}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>



