.dashboard-container {
    display: table;
}

.dashboard-container .dashboard-headline {
    display: table;
    position: relative;
    width: 100%;
    padding: 10px 20px;
    margin: 0 0 10px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 4px rgba(0,0,0,0.15);
}

.dashboard-container .dashboard-headline.main {
    width: calc(100% - 30px);
    margin: 10px 15px;
}

.dashboard-container .dashboard-info {
    max-height: 500px;
    padding: 20px;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 4px rgba(0,0,0,0.15);
    box-sizing: border-box;
    overflow-y: auto;
}

.dashboard-container table, td {
    border: none;
}

.dashboard-container .user-item {
    padding: 20px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.15);
}

.dashboard-container .course-item {
    padding: 5px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.15);
}

.dashboard-container .user-name {
    line-height: 75px;
}

.dashboard-container .user-answer {
    width: 30px;
    height: 30px;
    padding: 2px;
}

.dashboard-container .user-avatar {
    width: 75px;
    height: auto;
    border: 1px solid #FFF;
}

.dashboard-container .course-name {
    line-height: 50px;
}

.dashboard-container .course-image {
    width: 100px;
    height: auto;
}

/* Modal */
.modal-body {
    cursor: zoom-out;
}

.modal-body label {
    color: #0C1724;
}