.edit-user-container .edit-user-headline {
    display: table;
    position: relative;
    width: 100%;
    padding: 10px 20px;
    margin: 0 0 10px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
}

.edit-user-container .edit-user-headline.main {
    width: calc(100% - 30px);
    margin: 10px 15px;
}

.edit-user-container .edit-user-info {
    display: table;
    max-height: 500px;
    padding: 20px;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    overflow-y: auto;
}

.edit-user-container .user-name label {
    width: 100%;
}

.edit-user-container .user-name input {
    display: block;
    width: 35% !important;
}

.edit-user-container .edit-user-info .description {
    padding: 5px;
    text-align: justify;
}

.edit-user-container table, td {
    border: none;
}

.edit-user-container .user-pictures {
    margin: 0;
    padding: 0;
    background-color: rgba(255,255,255,0.1);
    border: 0;
    border-radius: 7px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.15);
}

.edit-user-container .user-pictures li img {
    cursor: auto;
    width: 100%;
}

.save-images {
    display: none;
}

.removeImage {
    position: absolute;
    top: 5px;
    right: 5px;
}