<div class="message-container">
    <div class="message-headline main">
        <div class="col-sm-9 page-headline">Chats</div>
    </div>

    <div class="col-sm-12">
        <div class="col-sm-12">
            <div class="message-info">
                <ul>
                    <li *ngFor="let message of messages; let i = index;" class="message-item">
                        <a [routerLink]="['/messages/', message]">with {{users[i]}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>