<div class="message-container">
    <div class="message-headline main">
        <div class="col-sm-9 page-headline">{{ 'Chats' | translate}}</div>
    </div>

    <div class="col-sm-12">
        <div class="col-sm-12">
            <div class="message-info">
                <ul>
                    <li *ngFor="let message of messages; let i = index;" class="message-item">
                        <a [routerLink]="['/messages/', message]">
                            <img *ngIf="currentUser" class="col-sm-3"
                                 [src]="chatAvatars[i] ? '/uploads/' + chatAvatars[i] : '/app/_assets/images/default-avatar.png'"/>
                            {{chatNames[i]}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>