.message-container .message-headline {
    display: table;
    position: relative;
    width: 100%;
    padding: 10px 20px;
    margin: 0 0 10px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
}

.message-container .message-headline.main {
    width: calc(100% - 30px);
    margin: 10px 15px;
}

.message-container .message-info {
    display: table;
    max-height: 500px;
    padding: 20px;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    overflow-y: auto;
}

.message-container .message-item {
	display: table;
    padding: 5px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
}