<div class="user-container">
    <div class="user-headline main">
        <div class="col-sm-9 page-headline">{{user.name}}</div>
        <div class="col-sm-3 edit-panel">
            <a *ngIf="currentUser._id != user._id" [routerLink]="['/messages/', user._id]">
                <i class="fa fa-envelope-o"></i>
            </a>
            <a *ngIf="currentUser._id == user._id" [routerLink]="['/user/' + user._id + '/edit']">
                <i class="fa fa-pencil-square-o"></i>
            </a>
            <button class="btn-panel" *ngIf="currentUser._id != user._id && currentUser.friends && user.friendRequests && !user.friendRequests.includes(currentUser._id) && !currentUser.friends.includes(user._id)"
                    (click)="sendFriendRequest(user)">
                <i class="fa fa-user-plus"></i>
            </button>
            <button class="btn-panel" *ngIf="currentUser._id != user._id && user.friendRequests && user.friendRequests.includes(currentUser._id)"
                    (click)="cancelFriendRequest(user)">
                <i class="fa fa-ban"></i>
            </button>
            <button class="btn-panel" *ngIf="currentUser._id != user._id && currentUser.friends && currentUser.friends.includes(user._id)"
                    (click)="removeFriend(user._id)">
                <i class="fa fa-user-times"></i>
            </button>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-9">
            <div class="image-wrapper">
                <img [src]="user.titleImage ? '/uploads/' + user.titleImage : '/app/_assets/images/default-titleImage.png'"
                     style="width:100%;height:auto;"/>
                <a [routerLink]="['/user', user ? user._id : 0]" class="user">
                    <img *ngIf="user" class="user-avatar oval"
                         [src]="user.avatar ? '/uploads/' + user.avatar : '/app/_assets/images/default-avatar.png'"/>
                </a>
            </div>
        </div>
        <div class="col-sm-3">
            <ul class="user-pictures">
                <li *ngFor="let picture of user.pictures">
                    <img class="col-sm-6" (click)="openImageModal(picture)" [src]="'/uploads/' + picture"/>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-6">
            <!--General Info-->
            <div class="user-headline">{{'Allgemeine Informationen' | translate}}</div>
            <div class="col-sm-12 user-info">
                <p class="description">{{user.description}}</p>
                <table class="ginfo-table">
                    <tbody>
                    <tr>
                        <td><p>{{'Mitglied seit' | translate}}:</p></td>
                        <td><p>{{user.createdAt}} {{'Uhr' | translate}}</p></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="user-headline">{{'Freunde' | translate}} ({{user.friends ? user.friends.length : 0}})</div>
            <div class="col-sm-12 user-info">
                <ul>
                    <li *ngFor="let friend of user.friends" class="col-sm-2">
                        <a [routerLink]="['/users', friend._id]">
                            <div>
                                <img class="friend-avatar"
                                     [src]="friend.avatar ? '/uploads/' + friend.avatar : '/app/_assets/images/default-avatar.png'"/>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-sm-6">
            <!--Courses-->
            <div class="user-headline">{{'Kurse' | translate}} ({{user.courses ? user.courses.length : 0}})</div>
            <div class="col-sm-12 user-info">
                <ul class="col-sm-12">
                    <li *ngFor="let course of userCourses;" class="col-sm-12 course-item">
                        <div class="col-sm-4">
                            <a [routerLink]="['/course', course._id]">
                                <div>
                                    <img class="course-image"
                                         [src]="course.titleImage ? '/uploads/' + course.titleImage : '/app/_assets/images/default-titleImage.png'"/>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-4 course-name">
                            <a [routerLink]="['/course', course._id]">{{course.name}}</a>
                        </div>
                        <div class="col-sm-4">
                            <app-review class="own single" [rating]="course.rating ? course.rating : 0"></app-review>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="modal fade" id="image-modal" tabindex="-1" role="dialog" aria-labelledby="image__label"
         aria-hidden="true"
         (click)="closeImageModal()">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <img class="preview-image" src="{{image}}">
                </div>
            </div>
        </div>
    </div>