.user-container .user-headline {
	display: table;
	position: relative;
	width: 100%;
	padding: 10px 20px;
	margin: 0 0 10px;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
}

.user-container .user-headline.main {
	width: calc(100% - 30px);
	margin: 10px 15px;
}

.user-container .user-info {
	display: table;
	max-height: 500px;
	padding: 20px;
	margin-bottom: 20px;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
	box-sizing: border-box;
	overflow-y: auto;
}

.user-container .edit-panel {
	text-align: right;
}

.user-container .edit-panel a {
	display: table;
	margin: 9px;
	float: right;
	line-height: 24px;
	font-size: 25px;
	cursor: pointer;
}

.user-container .edit-panel i {
	line-height: 24px;
	font-size: 25px;
	cursor: pointer;
}

.user-container .image-wrapper {
	position: relative;
	overflow: hidden;
}

.user-container .image-wrapper img {
	width: 100%;
	height: auto;
	margin: 0 0 10px;
}

.user-container .image-wrapper img.user-avatar.oval {
	width: 75px;
	height: 75px;
	border-radius: 50%;
}

.course-info .description {
	padding: 5px;
	text-align: justify;
}

.user-container .user {
	display: table;
	position: absolute;
	bottom: 5px;
	left: 5px;
}

.user-container .user-pictures {
	margin: 0;
	padding: 0;
	background-color: rgba(255,255,255,0.1);
	border: 0;
	border-radius: 7px;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.15);
}

.user-container .user-pictures li {
	list-style: none;
}

.user-container .user-pictures li img {
	cursor: zoom-in;
}

.user-container table, td {
	border: none;
}

.user-container .user-info .ginfo-table tr td:first-child {
	padding: 5px 20px 5px 5px;
}

.user-container .user-avatar {
	width: 75px;
	height: auto;
	border: 1px solid #FFF;
}

.user-container .course-image {
	width: 100px;
	height: auto;
}

.user-container .course-item {
	padding: 5px;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.15);
}

.user-container .course-name {
	line-height: 45px;
}

.user-container .review-rating {
	display: table;
	position: absolute;
	bottom: 20px;
	right: 10px;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.1);
	border: 0;
	border-radius: 7px;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
	cursor: pointer;
}

.user-container .own.single .review-rating {
	position: relative;
	float: right;
	box-sizing: border-box;
	display: table;
	bottom: 0;
	right: 0;
	margin: 8px 0;
}

/* Modal */
.modal-body label {
	color: #0C1724;
}