<div class="home-container">
    <div class="col-sm-12">
        <nav class="col-sm-12">
            <ul class="tablist" role="tablist">
                <li id="tab1" class="tab active" role="tab" aria-controls="panel1" aria-selected="true"
                    (click)="sortCourses('createdAt')">
                    {{'Neueste Kurse' | translate}}
                </li>
                <li id="tab2" class="tab" role="tab" aria-controls="panel2" aria-selected="false"
                    (click)="sortCourses('rating')">
                    {{'Top Kurse' | translate}}
                </li>
            </ul>
        </nav>
        <div id="panel1" class="col-sm-12" role="tabpanel" aria-labelledby="tab1" aria-hidden="false">
            <div class="col-sm-3 panel" *ngFor="let course of courses | orderBy : ['createdAt']; let i=index">
                <li *ngIf="i < 4">
                    <div class="col-sm-12">
                        <a [routerLink]="['/course', course._id]">
                            <img class="thumb"
                                 [src]="course.titleImage ? '/uploads/' + course.titleImage : '/app/_assets/images/default-titleImage.png'">
                        </a>
                    </div>
                    <div class="col-sm-12">
                        <h2>{{course.name}}</h2>
                        <p>{{'Erstellt am' | translate}}:</p>
                        <small style="color: #AAA;">{{course.createdAt}} {{'Uhr' | translate}}</small>
                        <p>{{'Einschreibung bis' | translate}}:<p>
                        <small style="color: #AAA;">{{changeDateFormat(course.signInDeadline)}} {{'Uhr' | translate}}</small>
                        <p>{{course.description | truncate : 5}}</p>
                    </div>
                </li>
            </div>
        </div>
        <div id="panel2" class="col-sm-12 hidden" role="tabpanel" aria-labelledby="tab2" aria-hidden="true">
            <div class="col-sm-3 panel"
                 *ngFor="let course of courses | orderBy : ['rating', 'reviews.length']; let i=index">
                <li *ngIf="i < 4">
                    <div class="col-sm-12">
                        <a [routerLink]="['/course', course._id]">
                            <img class="thumb"
                                 [src]="course.titleImage ? '/uploads/' + course.titleImage : '/app/_assets/images/default-titleImage.png'">
                        </a>
                        <app-review [rating]="course.rating ? course.rating : 0"></app-review>
                    </div>
                    <div class="col-sm-12">
                        <h2>{{course.name}}</h2>
                        <p>{{'Erstellt am' | translate}}:</p>
                        <small style="color: #AAA;">{{course.createdAt}} {{'Uhr' | translate}}</small>
                        <p>{{'Einschreibung bis' | translate}}:</p>
                        <small style="color: #AAA;">{{changeDateFormat(course.signInDeadline)}} {{'Uhr' | translate}}</small>
                        <p>{{course.description | truncate : 5}}</p>
                    </div>
                </li>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="panel map">
            <app-map [multiple]="true" [single]="false" [search]="false" [edit]="false" [courses]="courses"
                     [addresses]="addresses"></app-map>
        </div>
    </div>
</div>