.course-create-container .course-headline {
    display: table;
    position: relative;
    width: 100%;
    padding: 10px 20px;
    margin: 0 0 10px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
}

.course-create-container .course-headline.main {
    width: calc(100% - 30px);
    margin: 10px 15px;
}

.course-create-container .course-info {
    display: table;
    max-height: 500px;
    padding: 20px;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    overflow-y: auto;
}

.course-create-container .course-title label {
    width: 100%;
}

.course-create-container .course-title input {
    display: block;
    width: 35%;
}

.course-create-container .course-info .description {
    padding: 5px;
    text-align: justify;
}

.course-create-container .image-preview {
    position: relative;
}

.course-create-container .image-preview img {
    width: 100%;
    height: auto;
}

.course-create-container .course-pictures li img {
    cursor: auto;
    width: 100%;
}

.course-create-container .save-images {
    display: none;
}

.course-create-container .removeImage {
    position: absolute;
    top: 5px;
    right: 5px;
}

.course-create-container agm-map {
    width: 100%;
    height: 350px;
}

.course-create-container table, td {
    border: none;
}

.course-create-container .fc-state-default {
    background-color: #203858 !important;
    background-image: none !important;
}

.course-create-container .fc-body {
    cursor: pointer;
}

.course-create-container .fc-scroller.fc-day-grid-container {
    display: table !important;
}

.course-create-container .fc-unthemed td.fc-today {
    background: transparent !important;
}

.course-create-container .fc-unthemed td.fc-today span {
    color: #FF0000;
}

.course-search-container .select-wrapper {
    width: 100%;
    margin: 0 auto 25px;
}

.course-create-container .eventlist {
    width: 100%;
}

.course-create-container .event {
    float: left;
    width: 80%;
}

.course-create-container .removeEvent {
    float: right;
    width: 10%;
}

.course-create-container .course-pictures {
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.1);
    border: 0;
    border-radius: 7px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
}

.course-create-container .course-members,
.course-create-container .course-rating {
    margin: 0;
    padding: 0;
}