<div class="login-wrapper">
    <div class="login-logo">
        <a [routerLink]="['/']"><img class="col-sm-12" [src]="'app/_assets/images/naboo-logo-2.png'"/></a>
    </div>
    <div class="login-content">
        <div class="container-nav">
            <ul>
                <li class="nav-item active"><a [routerLink]="['/login']">{{'Einloggen' | translate}}</a></li>
                <li class="nav-item"><a [routerLink]="['/register']">{{'Registrieren' | translate}}</a></li>
            </ul>
        </div>
        <div class="login-container col-sm-12">
            <form (ngSubmit)="loginForm.valid && login()">
                <fieldset>
                    <app-input field="email" type="text" [tabindex]="5" [form]="loginForm" [horizontal]="true"
                               [label]="'Email' | translate"
                               [errorText]="'Die angegebene Email besitzt ein falsches Format!' | translate"
                    ></app-input>
                    <app-input field="password" type="password" [tabindex]="5" [form]="loginForm" [horizontal]="true"
                               [label]="'Passwort' | translate" [showForgotPasswordLink]="false"
                               [errorText]="'Das Passwort benötigt mindestens 8 Zeichen!' | translate"
                    ></app-input>
                    <app-input field="stay_loggedIn" type="checkbox" [tabindex]="4" [form]="loginForm"
                               [label]="'Eingeloggt bleiben' | translate"
                    ></app-input>
                </fieldset>
                <fieldset>
                    <app-button [disabled]="!loginForm.valid" [tabindex]="13">{{ 'Einloggen' | translate}}</app-button>
                </fieldset>
            </form>
        </div>
    </div>
    <alert></alert>
</div>