.course-search-container .search-headline {
    display: table;
    position: relative;
    width: 100%;
    padding: 10px 20px;
    margin: 0 0 10px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
}

.course-search-container .search-headline.main {
    width: calc(100% - 30px);
    margin: 10px 15px;
}

.course-search-container .search-info {
    max-height: 500px;
    padding: 20px;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    overflow-y: auto;
}

.course-search-container .select-wrapper {
    width: 100%;
    margin: 0 auto 25px;
}

.course-search-container .select2-container {
    width: 100% !important;
    height: 32px !important;
    margin: 5px 0;
}

.course-search-container app-select2 div {
    display: block !important;
}

.course-search-container .select2-results__option {
    color: #222;
}

.course-search-container .select2-selection__choice {
    color: #0C1724;
}

.course-search-container .select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #CCC !important;
    outline: 0;
    border-radius: 5px !important;
}

.course-search-container .course-info .col-sm-8 span {
    width: 100%;
}

.course-search-container nouislider {
    margin: 50px 0 75px !important;
    padding: 0 18px;
}

.course-search-container nouislider:focus {
    outline: 0 none;
}

.course-search-container .course-item {
    padding: 20px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
}

.course-search-container .course-item .course-image {
    width: 100%;
}

.course-search-container .course-item a,
.course-search-container .course-item span {
    display: block;
    width: 100%;
}

.course-search-container .course-item span {
    color: #CCC;
}

.filter {
    color: #FFF;
    border-bottom: 1px solid #FFF;
}