<div class="chat-container">
    <div class="chat-headline main">
        <div class="col-sm-9 page-headline">Chat with {{user.name}}</div>
    </div>

    <div class="col-sm-12">
        <div class="col-sm-12">
            <div class="col-sm-12 chat-info">
                <ul>
                    <li *ngFor="let message of messages" class="col-sm-12">
                        <div *ngIf="message.from != currentUser._id" class="col-sm-6 inbox message tri-right left-top">
                            <div class="col-sm-12">
                                {{message.text}}
                            </div>
                        </div>
                        <div *ngIf="message.from == currentUser._id" class="col-sm-6 outbox message tri-right left-top">
                            <div class="col-sm-12">
                                {{message.text}}
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="col-sm-12">
            <div class="col-sm-12 chat-info">
                <form (ngSubmit)="messageForm.valid && sendMessage()">
                    <div class="col-sm-6">
                        <app-input field="text" type="textarea" [tabindex]="2" [form]="messageForm" [horizontal]="true"
                                   [label]="'Message'"
                        ></app-input>
                    </div>
                    <div class="col-sm-12">
                        <app-button [disabled]="!messageForm.valid" [tabindex]="3">{{ 'Send' | translate}}</app-button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>