.chat-container .chat-headline {
    display: table;
    position: relative;
    width: 100%;
    padding: 10px 20px;
    margin: 0 0 10px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
}

.chat-container .chat-headline.main {
    width: calc(100% - 30px);
    margin: 10px 15px;
}

.chat-container .chat-info {
    display: block;
	height: auto;
    max-height: 260px;
    padding: 20px;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    overflow-y: auto;
}

.chat-container .chat-info ul {
	display: table;
}

.chat-container .chat-info small {
	color: #AAA;
}

.chat-container .outbox {
    display: table;
    float: left;
    padding: 10px;
    margin: 10px 0;
    background: #438AC8;
    box-sizing: border-box;
}

.chat-container .outbox.tri-right.border.left-top:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -40px;
    right: auto;
    top: -8px;
    bottom: auto;
    border: 32px solid;
    border-color: #438AC8 transparent transparent transparent;
}

.chat-container .outbox.tri-right.left-top:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -20px;
    right: auto;
    top: 0;
    bottom: auto;
    border: 22px solid;
    border-color: #438AC8 transparent transparent transparent;
}

.chat-container .inbox {
    display: table;
    float: right;
    padding: 10px;
    margin: 10px 0;
    background: #111C27;
    box-sizing: border-box;
}

.chat-container .inbox.tri-right.border.left-top:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -40px;
    top: -8px;
    bottom: auto;
    border: 32px solid;
    border-color: #111C27 transparent transparent transparent;
}

.chat-container .inbox.tri-right.left-top:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -20px;
    top: 0;
    bottom: auto;
    border: 22px solid;
    border-color: #111C27 transparent transparent transparent;
}

.chat-container .message-wrapper {
	display: table;
	position: fixed;
	width: calc(100vw - 16.6%);
	bottom: 0;
	right: 0;
	padding: 0 48px;
	float: right;
}

.chat-container .chat-message {
    display: table;
    position: relative;
	width: 100%;
    max-height: 200px;
    padding: 20px;
    margin-bottom: 20px;
    background: #203858;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    overflow-y: auto;
}

.chat-container .chat-message label {
	padding: 2px 0;
	margin: 0;
}

.chat-container .chat-message textarea {
	min-height: 40px;
	height: 40px;
}

.chat-container .chat-message app-button {
	vertical-align: bottom;
}

