.user-search-container .search-headline {
    display: table;
    position: relative;
    width: 100%;
    padding: 10px 20px;
    margin: 0 0 10px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
}

.user-search-container .search-headline.main {
    width: calc(100% - 30px);
    margin: 10px 15px;
}

.user-search-container .search-info {
    max-height: 500px;
    padding: 20px;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    overflow-y: auto;
}

.user-search-container .select2-container {
    width: 100% !important;
    height: 32px !important;
    margin: 5px 0;
}

.user-search-container app-select2 div {
    display: block !important;
}

.user-search-container .select2-results__option {
    color: #222;
}

.user-search-container .select2-selection__choice {
    color: #0C1724;
}

.user-search-container .select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #CCC !important;
    outline: 0;
    border-radius: 5px !important;
}

.user-search-container .user-item {
    padding: 20px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
}

.user-search-container .user-item img {
	width: 100%;
	height: auto;
}